body, html {
  height: 100%;
  width: 100%;
}

h1 {
  font-family:fantasy;
}

.jigsaw {
  background:url(https://i.imgur.com/fHsb0b1.png) 
  no-repeat; 
  background-size: cover;
  background-position:center 20%;
}

.display-4 {
  font-weight:bold;
  font-family:monospace;
}

.card {
  text-align: center;
  color:white;
}

.title {
  font-size:50px;
  font-weight:bolder;
}

.bgimg-3 {
  position: relative;
  opacity: 0.8;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://www.thenews.com.pk/assets/uploads/updates/2017-10-27/l_240096_065029_updates.jpg");
  min-height: 400px;
}

@media only screen and (max-device-width: 1024px) {

.bgimg-3 {
    background-attachment: scroll;
  }
}

h1.red:hover span {
  color: red;
  text-shadow: 0 0 10px red, 0 0 20px;
}

.desc {
  color: white;
  position: relative;
  background-color: #302f3a;
  text-align: center;
  padding: 50px 80px;
  text-align: justify;
}

div img {
  height:225px;
  width:215px;
}

div p {
  font-weight:bold;
}